body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: lightblue;
}

h1 {
  margin: 0px;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
}

nav {
  padding: 20px;
}

h2 {
  margin-bottom: 40px;
}

a {
  text-decoration: none;
  background: #e4e4e4;
  color: black;
  padding: 10px 20px;
}

#map {
  height: 600px;
}

#map_error {
  color: red;
  justify-content: center;
  display: none;
}